<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Real time Weather Information</title>
</head>
<body style="text-align: center;">
	<div align="center">
		<h2>Real time Weather</h2>
	</div>
	<div>
		Your location: <b> [[${weather.location}]] </b>
	</div>
	&nbsp;

	<div>
		Temperature: <b> [[${weather.temperature}]] </b> &deg;C
	</div>
	&nbsp;

	<div>
		Precipitation: <b> [[${weather.precipitation}]] </b> %
	</div>
	&nbsp;

	<div>
		Wind Speed: : <b> [[${weather.precipitation}]] km/h </b>
	</div>
	&nbsp;
	<div>
		Humidity: <b> [[${weather.humidity}]] </b> %
	</div>
	&nbsp;

	<div>
		Status: <b> [[${weather.status}]] </b>
	</div>
	&nbsp; &nbsp;


	<div>
		Last Updated: <b> [[${weather.lastUpdated}]] </b>
	</div>


</body>
</html>